.event {
  position: absolute;
  width: 80%;
  background-color: #ef4665;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #272343;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    box-shadow: 0px 0px 51px rgba(123, 113, 198, 0.58);
    // font-weight: bold;
    // background-color: red;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}
